@model Envios.MVC.Models.PaisModel

@using (Html.BeginForm("CreatePais", "ABMDirecciones", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <br />
    <h3 class="modal-title text-center">AGREGAR NUEVO PAIS</h3>
    <hr />
    
    @Html.ValidationSummary(true)
    
    <div class="modal-body">
        <label>PAIS</label>
        @Html.TextBoxFor(model => model.PaisName, new { @class = "form-control", id = "Pais", required = "required" })
        @Html.ValidationMessageFor(model => model.PaisName)

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-primary">GUARDAR</button>
    </div>
}


