
<div class="modal-body">
    <label>LISTADO DE PRODUCTOS</label>
    
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">CERRAR</button>
</div>
